body {
	font-family: 'Jura', sans-serif;
}

nav {
	font-size: 1.5em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav p {
	position: relative;
	bottom: 10px;
	font-size: 1.5em;
	margin: 7px;
	padding: 5px;
}

nav ul, li {
	display: inline;
	margin: 5px;
	padding: 5px;
}

nav ul, li, a {
	text-decoration: none;
}

.active {
	border-bottom: 7px solid blue;

}

footer {
	font-size: 1.5em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
